---
import Badge from '../components/Badge.astro';
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import LinkedInIcon from '../components/icons/LinkedIn.astro';
import GitHubIcon from '../components/icons/GitHub.astro';
import InstagramIcon from '../components/icons/Instagram.astro';
import MailIcon from '../components/icons/Mail.astro';
import BriefcaseIcon from '../components/icons/Briefcase.astro';
import CodeIcon from '../components/icons/Code.astro';
import SocialPill from '../components/SocialPill.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
---

<Layout 
	title="Portfolio de Iván Stebler"
	description="Software Developer Jr. and Civil Engineer from Santa Fe, Argentina."
>
	<main class="px-4">
		<SectionContainer class="pt-44 pb-32">
			<h1 class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10">
				Hey, soy Iván <a 
					href="https://www.linkedin.com/in/ivanstebler/" 
					target="_blank"
					rel="noopener noreferrer"
					class="flex justify-center items-center">
					<Badge>Disponible</Badge>
				</a>
			</h1>
			<h2 class="text-xl opacity-80 text-wrap max-w-[700px]">
				<span>+6 meses de experiencia. </span><span class="text-green-400/80">Desarrollador Jr. de Software e Ingeniero civil.</span>
				<span class="text-green-300/90">De Santa Fe, Argentina ⚽. </span><span class="opacity-70">Investigando y siendo curioso la mayor parte del tiempo.</span>
			</h2>

			<nav class="flex gap-4 mt-6 flex-wrap">
				<SocialPill href="https://www.linkedin.com/in/ivanstebler/">
					<LinkedInIcon class="size-3 lg:size-4" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/ivansteb/">
					<GitHubIcon class="size-3 lg:size-4" />
					GitHub
				</SocialPill>
				<SocialPill href="https://www.instagram.com/ivansteb8/">
					<InstagramIcon class="size-3 lg:size-4" />
					Instagram
				</SocialPill>
				<SocialPill href="mailto:steblerivan@gmail.com">
					<MailIcon class="size-3 lg:size-4" />
					steblerivan@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
				<BriefcaseIcon class="size-6" />
				Experiencia laboral
			</h2>
			<Experience />
		</SectionContainer>

		<SectionContainer id="projects">
			<h2 class="text-3xl font-semibold mb-6 flex gap-x-4 items-center">
				<CodeIcon class="size-6" />
				Proyectos
			</h2>
			<Projects />
		</SectionContainer>
	</main>
</Layout>
