---
import SectionContainer from '@/components/SectionContainer.astro';
import Layout from '@/layouts/Layout.astro';
---

<Layout 
    title="Thanks!"
    description="Gracias por tu mensaje"
>
    <SectionContainer class="pt-44 pb-32 flex flex-col gap-y-10">
        <article class="mb-10">
            <h1 class="mb-4 text-xl font-semibold">
                Gracias por tu mensaje!
            </h1>
        </article>
    </SectionContainer>
</Layout>