<span class='relative flex overflow-hidden rounded-full p-[1px]'>
    <span class='absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#319417_0%,#5bb644_50%,#319417_100%)]' />
    <div class='inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-green-950 px-3 py-1 text-xs font-medium text-green-300/80 backdrop-blur-3xl'>
      <slot />
    </div>
</span>