---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "Noviembre 2024 - actualidad",
        company: "Diveria S.R.L.",
        title: "Desarrollador de Software Jr.",
        description: "Desarrollo, mantenimiento y soporte de aplicación de e-commerce (SaaS) en React y C# .NET, empleando IIS, SQL Server y GitLab CI/CD. Implementación de nuevas funcionalidades, corrección de bugs, refactorización y documentación de código en Confluence.",
        link: "#",
    },
    {
        date: "Agosto 2021 - Diciembre 2023",
        company: "COEMYC S.A.",
        title: "Completar esto",
        description: "Completar esta descripción",
    },
    {
        date: "Septiembre 2019 - Marzo 2021",
        company: "ENERFE SAPEM",
        title: "Completar esto",
        description: "Completar esta descripción",
    },
    {
        date: "Septiembre 2017 - Enero 2018",
        company: "ObraTec S.A.",
        title: "Completar esto",
        description: "Completar esta descripción",
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2.5">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>

