---
import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "Noviembre 2024 - actualidad",
        company: "Diveria S.R.L.",
        title: "Desarrollador de Software Jr.",
        description: "Desarrollo, mantenimiento y soporte de aplicación de e-commerce (SaaS) en React y C# .NET, empleando IIS, SQL Server y GitLab CI/CD. Implementación de nuevas funcionalidades, corrección de bugs, refactorización y documentación de código en Confluence.",
        link: "#",
    },
    {
        date: "Agosto 2021 - Diciembre 2023",
        company: "COEMYC S.A.",
        title: "Jefe de obra",
        description: "Supervisión de diversas obras de ingeniería y arquitectura. Coordinación de tareas y recursos humanos, control de calidad y seguridad en obra, gestión de proveedores y subcontratistas, relación constante con inspección y gremio, elaboración de informes técnicos y administrativos.",
    },
    {
        date: "Septiembre 2019 - Marzo 2021",
        company: "ENERFE SAPEM",
        title: "Área técnica de Gas y Energía Renovables",
        description: "Estudios de factibilidad técnica y económica de proyectos de redes para dotación de gas natural y/o GLP en áreas urbanas y suburbanas de la provincia de Santa Fe. Elaboración de planimetría con AutoCAD; cómputos, presupuestos y pliegos de especificaciones técnicas con OpenOffice Calc; relevamiento mediante QGis y simulación de caudales con CYPE Gas.",
    },
    {
        date: "Septiembre 2017 - Enero 2018",
        company: "ObraTec S.A.",
        title: "Área técnica y supervisión de obra",
        description: "Asistente en proyectos de naves industriales y obras de infraestructura. Seguimiento de obra de construcción en seco mediante estructura metálica y losas pretensadas.",
    }
]
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2.5">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10 ms-4">
                <ExperienceItem {...experience} />
            </li>
        ))
    }
</ol>

