<header class="flex justify-between items-center px-4 py-6 w-full lg:w-[900px] mx-auto">
    <img 
        src="/images/ivan-photo.jpg" 
        class="rounded-full size-12 object-cover" 
        alt="ivan photo" 
    />

    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#about">Sobre mí</a>
        <a href="#experience">Experiencia</a>
        <a href="#projects">Proyectos</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>