<header class="flex justify-between items-center px-4 py-6 w-full lg:w-[900px] mx-auto">
    <img 
        src="/images/ivan-photo.jpg" 
        class="rounded-full size-12 object-cover" 
        alt="ivan photo" 
    />

    <nav class="flex flex-row gap-x-2 opacity-80">
        <a 
            class="hover:bg-white/10 rounded-full px-3 py-1 transition"
            href="/#about">Sobre mí
        </a>
        <a 
            class="hover:bg-white/10 rounded-full px-3 py-1 transition"
            href="/#experience">Experiencia
        </a>
        <a 
            class="hover:bg-white/10 rounded-full px-3 py-1 transition"
            href="/#projects">Proyectos
        </a>
        <a 
            class="hover:bg-white/10 rounded-full px-3 py-1 transition"
            href="/#contact">Contacto
        </a>
    </nav>
</header>